.card {
    border: 1px solid gray;
    padding: 8px;
    width: 40vw;
    &__title {
        display: flex;
        justify-content: space-between;
    }
    &__close {
        float: right;
        cursor: pointer;
    }
    &__detail {
        padding: 0 16px;
        display: flex;
        flex-direction: row;
        row-gap: 16px;
        &__logo {
            width: 180px;
        }
    }
    &__button {
        width: 100%;
        height: 40px;
        background-color: green;
        color: white;
        border-radius: 2px;
        padding: 4px 8px;
    }
}