.container {
    margin-left: 16px;
    &__filters {
        display: flex;
        column-gap: 16px;
        height: 32px;
        select {
            width: 170px;
            border-radius: 5px;
            background-color: transparent;
        }
        .primary {
            background-color: #2962FF;
            color: white;
            border-radius: 2px;
            padding: 4px 8px;
        }
    }
    &__list {
        margin: 0 32px;
        margin-top: 16px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 16px;
        row-gap: 16px;
    }
}