<div class="card" *ngIf="team && (result$ | async)">
	<div>
		<h2 class="card__title">{{team.full_name}} [{{team.abbreviation}}]<button [id]="'remove' + team.abbreviation" class="card__close"
				(click)="deleteTeam(team)">&times;</button></h2>
		<h3>{{team.conference}}ern conference</h3>
	</div>
	<hr />
	<div class="card__detail">
		<div class="card__detail__info" *ngIf="stats">
			<p>
				Results of past 12 days:
			</p>
			<div class="card__detail__info__marks">
				
			</div>
			<div class="card__detail__info__marks">
				<mark class="tag" *ngFor="let result of stats.games" [class]="result">{{result}}</mark>
			</div>
			<p>Avg pts scored: <strong>{{stats.pointsScored}}</strong> </p>
			<p>Avg pts conceded: <strong>{{stats.pointsConceded}}</strong> </p>
		</div>
		<img class="card__detail__logo" [src]="logoSrc" />
	</div>
	<div>
		<button [id]="'results'+team.abbreviation" class="card__button" [routerLink]=" 'results/'+ team.abbreviation">See game results >></button>
	</div>
</div>