.card {
    border: 1px solid gray;
    padding: 8px;
    width: 560px;
    height: 360px;
    &__title {
        display: flex;
        justify-content: space-between;
    }
    &__close {
        background-color: transparent;
        font-size: 21px;
        border: none;
        cursor: pointer;
    }
    &__detail {
        padding: 0 16px;
        display: flex;
        column-gap: 16px;
        justify-content: space-between;
        &__info {
            &__marks {
                display: flex;
                column-gap: 2px;
            }
            mark {
                text-align: center;
                border-radius: 50px;
                width: 16px;
                padding: 4px;
                color: white;
            }
            mark.W {
              background-color: green;
            }
            mark.L {
              background-color: red;
            }
        }
        &__logo {
            width: 200px;
        }
    }
    &__button {
        cursor: pointer;
        height: 40px;
        background-color: green;
        color: white;
        border-radius: 2px;
        padding: 4px 8px;
    }
}